<ion-view>
	<div ng-controller="bookCtrl" class="index-book">

		<div class=" bar bar-header bar-positive">

			<button class="button button-icon icon  ion-ios-arrow-thin-left" ng-click="goback()"></button>

			<h2 class="title">{{data.course.typename}} 书籍 </h2>

		</div>

	</div>
	<ion-content class="has-header has-footer " overflow-scroll="true" scroll="true">
		<div class="selectable" data-tap-disabled="true">
	
		<div class="row booklist">
			<div> <img src="https://img14.360buyimg.com/n1/s200x200_jfs/t19711/181/2407561218/243579/4c168a6d/5af3bb1fN5c2b3dfa.jpg" width="105" alt="" /> </div>
			<div class="col">
				<h4>汉字：汉字设计与应用</h4>
				<p>一本关于汉字设计与美学的书 当代汉字及汉字标识的艺术之美 主要集中于标志设计及文字应用两部</p>
				<div class="row">
					<div class="col-66">
						链接: https://pan.baidu.com/s/1DdTxotNIg3CLWf6xIpdhdg 密码: m8sp
					</div>
					<div class="col-34 text-right">
						<a href="https://item.jd.com/1463592054.html" class="btn button-blue">京东购书</a>
					</div>
				</div>

			</div>
		</div>
		<div class="row booklist">
			<div> <img src="https://img10.360buyimg.com/n1/s200x200_jfs/t1519/131/198721377/200812/584886dd/55643512Ne480d0e2.jpg" width="105" alt="" /> </div>
			<div class="col">
				<h4>配色设计原理</h4>
				<p>[日] 奥博斯科编辑部 编</p>
				<div class="row">
					<div class="col-66">
						链接: https://pan.baidu.com/s/1DdTxotNIg3CLWf6xIpdhdg 密码: m8sp
					</div>
					<div class="col-34 text-right">
						<a href="https://item.jd.com/1463592054.html" class="btn button-blue">京东购书</a>
					</div>
				</div>

			</div>
		</div>
		<style>
			.booklist .row {
				padding: 0;
			}
			
			.booklist .col-66 {
				font-size: 10px;
				color: #bbb;
				line-height: 12px;
				word-break: break-all;
				height: 35px;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
				display: -webkit-box;
				/** 对象作为伸缩盒子模型显示 **/
				-webkit-box-orient: vertical;
				/** 设置或检索伸缩盒对象的子元素的排列方式 **/
				-webkit-line-clamp: 3;
				/** 显示的行数 **/
			}
			
			.booklist .col {
				border-bottom: 1px solid #f0f0f0;
			}
			
			.booklist {
				padding-right: 15px !important;
				padding-top: 10px !important;
			}
			
			.booklist h4 {
				font-size: 16px;
				height: 25px;
				margin: 0;
				line-height: 25px;
				white-space: nowrap;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}
			
			.booklist p {
				font-size: 12px;
				line-height: 14px;
				color: #bbb;
				min-height: 28px;
				/*position: absolute;*/
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
				display: -webkit-box;
				/** 对象作为伸缩盒子模型显示 **/
				-webkit-box-orient: vertical;
				/** 设置或检索伸缩盒对象的子元素的排列方式 **/
				-webkit-line-clamp: 2;
				/** 显示的行数 **/
			}
			
			.booklist .btn {
				text-align: center;
				font-size: 12px;
				text-decoration: none;
				display: block;
				width: 70px;
				max-width: 100%;
				float: right;
				padding: 4px 0;
			}
		</style>
	</div>
	</ion-content>
	<div class="tabs tabs-icon-top">
		<a class="tab-item " href="#/">
			<i class="icon ion-ios-lightbulb-outline"></i> 课程
		</a>
		<a class="tab-item tab-item-active" style="color: dodgerblue;">
			<i class="icon ion-ios-book"></i> 书籍
		</a>

	</div>
	</div>
</ion-view>