<ion-view>
	<div ng-controller="err2Ctrl" class="index-book">

		<div class=" bar bar-header bar-positive">
			<button class="button button-icon icon  ion-ios-arrow-thin-left" ng-click="goback()"></button>
			<h2 class="title">发现错误bug </h2>
		</div>
		<ion-content class="has-header has-footer " overflow-scroll="true" scroll="true">
			<div class="selectable" data-tap-disabled="true">
				
				<textarea name="" id="" cols="30" rows="10" ng-model="obj.msg"></textarea>
				<button class="button button-balanced button-block button-outline" ng-click="comment()">
    发布
  </button>
				<p class="padding">24小时内反馈您的问题</p>
				<p class="padding">这个app是我个人业余时间深夜开发,我正在努力修正中，如果大家发现问题希望能告知我错误章节与标题，将第一时间改正，谢谢大家。</p>
				<div class="tip" style="margin: 15px;">
						<p>
							2019.07.10 更新评论前100提出的能解决的bug</p>
						<p>
							2019.07.08 添加动效</p>
						<p>
							2019.07.07 更新<a href="/it/#/main/322">js教程</a>前两章</p>
					</div>
				
			</div>
		</ion-content>

	</div>
</ion-view>