<ion-view>
	<div ng-controller="err2Ctrl" class="index-book">

		<div class=" bar bar-header bar-positive">
			<button class="button button-icon icon  ion-ios-arrow-thin-left" ng-click="goback()"></button>
			<h2 class="title">建议与错误反馈 </h2>
		</div>
		<ion-content class="has-header has-footer " overflow-scroll="true" scroll="true">
			<div class="selectable" data-tap-disabled="true">
				
				<textarea name="" id="" cols="30" rows="10" placeholder="建议与错误反馈" ng-model="obj.msg"></textarea>
				<button class="button button-balanced button-block button-outline" ng-click="comment()">
    发布
  </button>
				<div class="help padding text-danger">密码找回只能联系作者：bigzql</div>
				<p class="padding">这个app是我个人业余时间深夜开发,我正在努力修正中，如果大家发现问题希望能告知我错误章节与标题，将第一时间改正，谢谢大家。</p>
				<div class="tip" style="margin: 15px; margin-top:5px;>
				 
	<p>
	    2019.11.16&nbsp; 修改评论11.15日前提出错误、建议、bug<br />
		2019.10.25&nbsp; 添加<a href="/it/#/main/367">C语言教程</a><br />
		2019.10.13&nbsp; 添加<a href="/it/#/main/357">django教程</a><br />
		2019.10.12&nbsp; 支持分享转发<br />
		2019.09.14&nbsp; 支持长按复制（部分机型有效);知识点页面可以滑动<br />
		2019.09.13&nbsp; 优化数据库-部分没有登录用户会受到影响<br />
		2019.09.03&nbsp; 修复从第三章到正则表达式&nbsp;python&nbsp;小错误<br />
		2019.08.31 修改 python 前两章若干小错误</p>
	<p>
		2019.08.27 更新 <a href="/it/#/main/322">css</a>三 四章内容</p>
	<p>
		2019.07.10 更新评论前100提出的能解决的bug</p>
	<p>
		2019.07.08 添加动效</p>
	<p>
		2019.07.07 更新<a href="/it/#/main/322">js教程</a>前两章</p>

	    2019.10.25&nbsp; 添加<a href="/it/#/main/367">C语言教程</a><br />	 
		2019.10.13&nbsp; 添加<a href="/it/#/main/357">django教程</a><br />
		2019.10.12&nbsp; 支持分享转发<br />
		2019.09.14&nbsp; 支持长按复制（部分机型有效);知识点页面可以滑动<br />
		2019.09.13&nbsp; 优化数据库-部分没有登录用户会受到影响<br />
		2019.09.03&nbsp; 修复从第三章到正则表达式&nbsp;python&nbsp;小错误<br />
		2019.08.31 修改 python 前两章若干小错误</p>
	<p>
		2019.08.27 更新 <a href="/it/#/main/322">css</a>三 四章内容</p>
	<p>
		2019.07.10 更新评论前100提出的能解决的bug</p>
	<p>
		2019.07.08 添加动效</p>
	<p>
		2019.07.07 更新<a href="/it/#/main/322">js教程</a>前两章</p>
</div>
					</div>
			</div>
		</ion-content>

	</div>
</ion-view>