<div ng-controller="loginCtrl">
    <div class=" bar bar-header bar-positive">
        <h2 class="title">用户登陆</h2>
    </div>
    <ion-content class="has-header has-footer">

                <div class="box blue text-center">
                   <br/><br/><br/>
                    <img  src="http://statics.qikuedu.com/images/logo.png">
                 </div>
         <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-ios-person placeholder-icon"></i>
                <input type="text" placeholder="用户名:你的名字" ng-model="login.username">
            </label>
             <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input type="password" placeholder="密码:qikuedu001" ng-model="login.password">
            </label>


         </div>
        <div class="padding">
             <button class="button button-positive button-block" ng-click="loginHd()"><ion-spinner icon="spiral" ng-show="!islogin"></ion-spinner> 登陆</button>
        </div>

        <div class="help padding text-danger">{{login.help }}</div>



    </ion-content>
