<!DOCTYPE html>
<html ng-app="examApp">
	<head>
		<meta charset="UTF-8">
		<title ng-bind="$root.data.course.typename"></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body ng-controller="mainCtrl" class=""  >
		
        <ion-side-menus >
  <!-- 中间内容 -->
  <ion-side-menu-content drag-content="true" >
     <ion-nav-view>  
     	正在加载中...              
     </ion-nav-view>    
  </ion-side-menu-content>
    
  <!-- 左侧菜单 -->
  <ion-side-menu side="left">
    <div class="user-box bg-positive ">
    	<div class="avatar" ng-bind="data.user.M_UserName|limitTo:1"></div>
      	<span ng-bind="data.user.M_UserName|limitTo:15"></span>
      	<div class="r jf"><span ng-bind="'积分:'+data.user.M_Scores"></span></div>
     	<div class="row">
      		<div class="col-75 col-center text-left"><span ng-bind="data.user.fields.email"></span><br/></div> 
	      	<div class="col-25"> 
	      		<button class="button button-clear button-positive" ng-click="loginOut()" ng-bind="switchName(data.user.M_UserName)"></button>
	      	</div>
      	</div>
     </div>  
       <div class="list">
       	 
       			<a href="/" class="item"> ← 返回轻课堂首页</a>
       		 

       </div>
  </ion-side-menu>

  <!-- 右侧菜单 -->
 
</ion-side-menus>
		<link rel="stylesheet" href="./css/ionic.min.css"/>
		<script src="./js/ionic.bundle.min.js"></script>
		<script src="./script/exam_app.js"></script>
		<script src="./script/service.js"></script>		
		
         <script>
         	function downLoadCss(url){
        	var elem = document.createElement("link");
        	elem.rel = "stylesheet";
        	elem.type = "text/css";
        	elem.href = url;
        	document.body.appendChild(elem);
    		}
         	function downLoadJs(url){
       			var elem = document.createElement("script");
        		elem.src = url;
       		 	document.body.appendChild(elem);
   			 }

    		setTimeout(function(){        	
        	downLoadJs("./sh/shCore.js")
//      	downLoadJs("./sh/shCore2.js")
        	downLoadCss("sh/shCoreDefault.css");
//      	downLoadJs("./sh/shBrushJScript.js");
//      	downLoadJs("./sh/shBrushXml.js");
    		},1000);
    		
    		setTimeout(function(){        	
        	
        	downLoadJs("./sh/shBrushXml.js");
    		},2000);
    		

         </script>
         <style>
         	ion-content{  overflow-scroll: true;
}.scroll-content {  -webkit-user-select: auto !important;  -moz-user-select: auto !important;  -ms-user-select: auto !important;  user-select: auto !important;
}.selectable {  -webkit-user-select: auto;
}
         	
         </style>
	</body>
</html>
