<ion-view>
	<div ng-controller="bookCtrl" class="index-book">

		<div class=" bar bar-header bar-positive">

			<button class="button button-icon icon  ion-ios-arrow-thin-left" ng-click="goback()"></button>

			<h2 class="title">{{data.course.typename}} 书籍 </h2>

		</div>

	</div>
	<ion-content class="has-header has-footer " overflow-scroll="true" scroll="true">
		<div class="selectable" data-tap-disabled="true">
	
		<div class="row booklist">
			<div> <img src="https://img11.360buyimg.com/n1/jfs/t1210/198/742186232/357507/4f64f545/55407ebbNc012ae29.jpg" width="105" alt="" /> </div>
			<div class="col">
				<h4>Python Cookbook中文版</h4>
				<p>经典Python图书全新升级版本 初中级Python程序员晋级必备图书 涵盖Python 3.3 包含大量实用Python编程技巧 囊括常见Python编程领域部</p>
				<div class="row">
					<div class="col-66">
						链接: https://pan.baidu.com/s/1VQ5zVI_yKTuCSC6umoJTHA 提取码: <span >25g3</span>
					</div>
					<div class="col-34 text-right">
						<a href="https://item.jd.com/11681561.html?from=http://www.qingkt.com" class="btn button-blue">京东购书</a>
					</div>
				</div>

			</div>
		</div>
		<div class="row booklist">
			<div> <img src="https://img14.360buyimg.com/n1/jfs/t17953/201/1450663539/451183/3262b8de/5acb3627N8191c867.jpg" width="105" alt="" /> </div>
			<div class="col">
				<h4>Python编程 从入门到实践</h4>
				<p>Python3.5编程入门图书 机器学习 数据处理 网络爬虫热门编程语言 从基本概念到完整项目开发 </p>
				<div class="row">
					<div class="col-66">
						链接: https://pan.baidu.com/s/1tr6LmLYtu5wOJY4cRkX7dQ 提取码: <span >sf8k</span>
					</div>
					<div class="col-34 text-right">
						<a href="https://item.jd.com/11993134.html?from=http://www.qingkt.com" class="btn button-blue">京东购书</a>
					</div>
				</div>

			</div>
		</div>
		
		
		<style>
			.booklist .row {
				padding: 0;
			}
			
			.booklist .col-66 {
				font-size: 10px;
				color: #bbb;
				line-height: 12px;
				word-break: break-all;
				height: 35px;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
				display: -webkit-box;
				/** 对象作为伸缩盒子模型显示 **/
				-webkit-box-orient: vertical;
				/** 设置或检索伸缩盒对象的子元素的排列方式 **/
				-webkit-line-clamp: 3;
				/** 显示的行数 **/
			}
			
			.booklist .col {
				border-bottom: 1px solid #f0f0f0;
			}
			
			.booklist {
				padding-right: 15px !important;
				padding-top: 10px !important;
			}
			
			.booklist h4 {
				font-size: 16px;
				height: 25px;
				margin: 0;
				line-height: 25px;
				white-space: nowrap;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}
			
			.booklist p {
				font-size: 12px;
				line-height: 14px;
				color: #bbb;
				min-height: 28px;
				/*position: absolute;*/
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
				display: -webkit-box;
				/** 对象作为伸缩盒子模型显示 **/
				-webkit-box-orient: vertical;
				/** 设置或检索伸缩盒对象的子元素的排列方式 **/
				-webkit-line-clamp: 2;
				/** 显示的行数 **/
			}
			
			.booklist .btn {
				text-align: center;
				font-size: 12px;
				text-decoration: none;
				display: block;
				width: 70px;
				max-width: 100%;
				float: right;
				padding: 4px 0;
			}
		</style>
	</div>
	</ion-content>
	<div class="tabs tabs-icon-top">
		<a class="tab-item " href="#/">
			<i class="icon ion-ios-lightbulb-outline"></i> 课程
		</a>
		<a class="tab-item tab-item-active" style="color: dodgerblue;">
			<i class="icon ion-ios-book"></i> 书籍
		</a>
		  <a class="tab-item" href="#/tutorial/{{data.course.id}}">
  	<i class="icon ion-ios-color-wand-outline"></i>
    教程
  </a>

	</div>
	</div>
</ion-view>