<ion-view>
<div ng-controller="homeCtrl" >
   <style>
                    html,body{ height: 100%;}
                    .myfix{position: fixed;left:0; bottom:0;z-index: 1000;}
                    ion-list .item{ line-height: initial; }
                    .fix-footer{ 
                      position:absolute; 
                      left: 0; 
                      bottom: 0; 
                      width: 100%;
                      padding:5px 15px;
                       }
                    .article-ion{ bottom: 88px !important; }
                    .bar-footer.item-input-inset{
                      height: 78px;
                    }
                    .bar-footer textarea,
                    .bar-footer .button-outline{
                      height: 48px !important;
                    }
                    .footClose{
                      position: absolute;
                      left:0;
                      top:0;
                      color:#bbb;
                      width: 18px;
                      height: 18px;
                      line-height: 18px;
                      text-align: center;
                      font-size: 10px;
                    }
                     .fix-footer .button:hover{
                      color:#fff;
                    }
                    .precent{
            position: absolute;
    left: 15px;
    bottom: -22px;
    background-color: #fff;
    color: gray;
    box-shadow: 0 2px 6px rgba(230,230,230,.8);
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    right: 15px;
    width: auto !important;
    border-radius: 44px;
    height: 44px;
      }
  .col .bg{
  background: #ddd;
    position: relative;
    height: 6px;
    border-radius: 6px;
    top: 10px;
    overflow: hidden;
  }
  .pre{
  
   background-color: #387ef5;
    background-image: linear-gradient(90deg, #4e8cfd 0%, #2ac3fc 80%, #38b9fd 100%);
    height: 6px;
  }
  .bar-positive  .button-right{
    right: 0;
    position: absolute;
    font-size: 10px !important;

  }
  .bar img,.bar .v{    
    vertical-align: middle;
    overflow: hidden;
    width: 22px;
    width: 22px;
    border-radius: 22px;}
                  </style>
                  
<!-- on-drag="toggleLeft($event)" -->
    <alert  msg="alertServer.msg" class="addNote"></alert>
    <div class=" bar bar-header">
    <button class="button button-icon icon  ion-ios-arrow-thin-left" ng-click="up2()"></button>
      <div class="col" style="padding-left: 15px; padding-right: 15px;">
        <div class="bg" style="   position: relative;"> 
          <div class="pre" style="width: {{current.page/questions.length*100}}%; "></div>
        </div>
      </div> 

           

    </div>
  
    <ion-content delegate-handle="ques" class="has-header article-ion" on-scroll="handelScroll()"  ng-class="{'has-footer':current.showbar}" overflow-scroll='false'>
        <div class="selectable">
        <ion-slide-box  disable-scroll="false"  show-pager="false"  on-slide-changed="slideHasChanged($index)"  >
             <!--  <ion-slide>
                <div class="box blue text-center">
                    <br/><br/><br/><br/><br/>
                    <img  src="http://statics.qikuedu.com/images/logo.png">
                    <br/><br/><br/><br/><br/>
                    <btton  class="button button-assertive button-outline " ng-click="slideTo(1)">开始答题</btton>
                </div>
              </ion-slide> -->
              <ion-slide ng-repeat="question in questions" >
                  
                  <div class="article" ng-if="question.channel==1">
                    <div class="article-content" >
                      <div class="article-title " >
                        {{question.title}}
                      </div>

                      <div  class="article-body sh-block" ng-bind-html="question.body|to_trusted" dy-article>
                      </div>
                    </div>
                    
                    <div class="row">
                  <!-- <div class="col positive text-left">
                   <button class="button button-small button-clear button-positive" ng-click="getComents(question)" >{{question.comentCount}}  <i class="icon ion-chatbubble-working placeholder-icon"></i></button> 
                  </div> -->
                  <!-- <div class="col text-right col-40 "><button class="button button-blue button-block" ng-click="nextSlide(question)">继续</button></div> -->
                    </div>
                  </div>
                
                  

              <div  class="question" ng-if="question.channel==30">

              <div class="answer-title selectable" ><span class="tip" ng-if="question.type==1">单选</span> <span class="tip" ng-if="question.type==2">多选</span> <span class="tip"  ng-if="question.type==4">问答</span >
               <span class="tip"  ng-if="question.type==3">填空</span >  <span class="tip"  ng-if="question.type==5">排序</span >
              {{question.title}}</div>
               <div dy-compile ng-if="question.subtitle&&question.type!=5" content="question.subtitle" class="fill-blank "> </div>
            <div class="options">
                  <div class="answer-option {{getAnswer(item,question)}}{{question.showAnswer}}" ng-if="question.type==1" ng-class="{'selected':question.currentSelect==item.op,'mul-line':item.op.length>18}" ng-repeat="item in question.optionData track by item.op" ng-click="selectHd(question,item.op,item.answer, $parent.$index)">
                      <i class="op-xu" ng-if="$index==0">A</i>
                      <i class="op-xu" ng-if="$index==1">B</i>
                      <i class="op-xu" ng-if="$index==2">C</i>
                      <i class="op-xu" ng-if="$index==3">D</i>
                      <span class="op-content" ng-class="{'mul-line':item.op.length>18}">{{ item.op }} </span>

                  </div>
                   <div  ng-if="question.type==2">
                     <div  class="answer-option mutil" ng-class="{'selected':checkMulSelect(question,item.op),'mul-line':item.op.length>18}" ng-repeat="item in question.optionData" ng-click="selectMulHd(question,item.op,item.answer, $parent.$index)">
                      <i class="op-xu" ng-if="$index==0">A</i>
                      <i class="op-xu" ng-if="$index==1">B</i>
                      <i class="op-xu" ng-if="$index==2">C</i>
                      <i class="op-xu" ng-if="$index==3">D</i>
                      <span class="op-content" ng-class="{'mul-line':item.op.length>18}">{{ item.op }} </span>
                     </div>
                  </div>
                  
                    
                    
                     
            </div>
            <ion-list  show-reorder="true"  ng-if="question.type==5" class="options" >
          <ion-item ng-repeat="item in question.lists" class="answer-option ">
            <ion-reorder-button 
              class="ion-navicon"
              on-reorder="moveItem(item,$fromIndex,$toIndex,question,this)"
              >
            </ion-reorder-button>
            <span class="sh-block" ng-bind-html="item.text|to_trusted"></span>
          </ion-item>
            </ion-list>      
                  <!--
                   <button class="button button-positive button-full" ng-click="mulHdNext(question)">确定</button>
                  -->
                   <div  ng-if="question.type==4">
                       <div>
                           <textarea placeholder="请输入您的意见或者答案" name="" id="" width="90%" height="50" ng-model="question.currentAnswer"></textarea>
                       </div>

           <!--           <button class="button button-positive button-full" ng-click="QaHdNext(question)">确定</button>-->
                  </div>
                   <!-- <div  ng-if="question.type==3" >
                        <div dy-compile  content="question.subtitle" class="fill-blank "> </div>
                  </div> -->

                   <!--check
                -->
                <div class="row row-error">
                    <div class="col-60">
                    <div class="err-tip" ng-show="question.showErr">&times; 错误    <span class="tip-back " ng-click="preSlide(question)"><i class="icon balanced ion-ios-arrow-thin-left"></i> 返回</span> <i class="icon  ion-ios-unlocked-outline" ng-click="unlockQuestion(question)"> 解锁</i> </div>
                    </div>
                    <div class="col">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-left col-center"> 
                      <button class="button button-clear button-positive" ng-show="question.showErr" ng-click="getComents(question)">{{question.comentCount}} <i class="icon ion-chatbubble-working placeholder-icon"></i></button>
                    </div>
                    <div class="col col-40 text-right">
                    <!-- <button class="button  button-block button-blue " ng-click="checkAnswer(question)"  ng-show="!question.showErr" >检查</button>
                    <button class="button  button-block button-blue " ng-show="question.showErr" ng-click="testAgain(question)">再做一次</button> -->

                    </div>
                  </div>
                  <!--check
                -->

                </div>

               
                  <div class="question-com">
                          <div class="coments" dy-compile content="question.coments" >
                         
                          </div>

                </div>



              </ion-slide>
           

        </ion-slide-box>
      </div >
           <div class="coment-button" ng-hide="true">+</div>
    </ion-content>
    <div class="answer-sheet" ng-show="current.showAnswerSheet">
        <ion-content>
            <div class="disbox">
                <i class="op-xu" ng-click="slideTo($index,question)" ng-repeat="question in questions" ng-class="{'selected':question.currentAnswer}"><span>{{ $index+1 }}</span></i>
            </div>
        </ion-content>

    </div>

<div class="fix-footer">
  <button class="button  button-block button-blue " ng-click="checkAnswer(cquestion)"  ng-show="!cquestion.showErr" >
    <span ng-if="cquestion.channel==1">继续</span>
    <span ng-if="cquestion.channel==30">检查</span>
</button>
  <button class="button  button-block button-blue again " ng-show="cquestion.showErr" ng-click="testAgain(cquestion)">再做一次</button>
</div>
<div class="bar bar-footer bar-stable text-center   item-input-inset" ng-show="current.showbar" >
     <span class="footClose" ng-click="current.showbar=false">&times;</span>
 
    <label class="item-input-wrapper">
      <i class="icon ion-chatbubble-working placeholder-icon"></i>
      <textarea name="" id="" cols="30" rows="10" ng-model="current.msg"></textarea>
    </label>
   <button class="button button-balanced button-small button-outline" ng-click="comment()">
      评论
    </button> 
 
</div>
        <!-- <button class="button button-clear" ng-click="current.showAnswerSheet=!current.showAnswerSheet"><i class="icon ion-ios-keypad-outline  "></i></button>
        <span ng-show="current.page<questions.length" >&nbsp;&nbsp;&nbsp;<span class="text-danger">{{ current.page }}</span>/{{ questions.length }}</span> -->

    </div> 

 </div>
 </ion-view>